In [1]:
import pandas as pd
import numpy as np

In [65]:
# path = 'C:\\Users\\sande\\Documents\\INSAID Project\\CapstoneProject\\'
data = pd.read_csv('data.csv')

In [66]:
data.head()

  dept_id  employee_id  avg_monthly_hrs  ...  marital_status  dept_name      dept_head
0  D00-AD       100360            274.0  ...         Married      Admin  Evelyn Tolson
1  D00-AD       100852            260.0  ...         Married      Admin  Evelyn Tolson
2  D00-AD       100876            254.0  ...         Married      Admin  Evelyn Tolson
3  D00-AD       100909            151.0  ...         Married      Admin  Evelyn Tolson
4  D00-AD       101075            236.0  ...       Unmarried      Admin  Evelyn Tolson

[5 rows x 16 columns]

<a id = Section5></a>

---
# **1. Data Pre-Processing**
---

<a id = Section51></a>
### **5.1 Identification & Handling of Missing Data**

**Before Handling Null Data**

In [67]:
null_frame = pd.DataFrame(index = data.columns.values)
null_frame['Null Frequency'] = data.isnull().sum().values
percent = data.isnull().sum().values/data.shape[0]
null_frame['Missing %age'] = np.round(percent, decimals = 4) * 100
null_frame[null_frame['Null Frequency']>0].transpose()

                dept_id  filed_complaint  ...  dept_name  dept_head
Null Frequency    707.0         12104.00  ...      707.0      707.0
Missing %age        5.0            85.54  ...        5.0        5.0

[2 rows x 11 columns]

**Observation:**

- **dept_id, dept_name and dept_head**:
  - Problem &rarr; Drop two columns as they giving same information; Action Required on the remaining
- **filed_complaint**:
  - Missing Information (12080) &rarr; Replace with- 0.
- **last_evaluation**:
  - Missing Information (1487) &rarr; Replace with- Median value.
- **recently_promoted**:
  - Missing Informa tion (13824) &rarr; Replace with- 0.
- **satisfaction**:
  - Missing Information (150) &rarr; Replace with- Median value.
- **tenure**:
  - Missing Information (150) &rarr; Action Required.
- **age**:
  - Missing Informa tion (5) &rarr; Replace with- Median.
- **gender**:
  - Missing Information (5) &rarr; Replace with- Mode.
- **marital_status**:
  - Missing Informa tion (5) &rarr; Replace with- Mode.

**Performing Operations**

In [68]:
data.drop(columns=['dept_id','dept_head','employee_id'], inplace=True)

In [79]:
data['filed_complaint'] = data['filed_complaint'].fillna(0)
data['recently_promoted'] = data['recently_promoted'].fillna(0)
data['dept_name'] = data['dept_name'].fillna('Other')
data['age'] = data['age'].fillna(data['age'].mean())
data['gender'] = data['gender'].fillna(data['gender'].mode()[0])
data['marital_status'] = data['marital_status'].fillna(data['marital_status'].mode()[0])
data['tenure'] = data['tenure'].fillna(data['tenure'].mode()[0])
data['marital_status'] = data['marital_status'].fillna(data['marital_status'].mode()[0])
data['last_evaluation'] = data['last_evaluation'].fillna(data['last_evaluation'].mean())
data['satisfaction'] = data['satisfaction'].fillna(data['satisfaction'].mean())

In [80]:
null_frame = pd.DataFrame(index = data.columns.values)
null_frame['Null Frequency'] = data.isnull().sum().values
percent = data.isnull().sum().values/data.shape[0]
null_frame['Missing %age'] = np.round(percent, decimals = 4) * 100
null_frame[null_frame['Null Frequency']>0].transpose()

Empty DataFrame
Columns: []
Index: [Null Frequency, Missing %age]

<a id = Section52></a>
### **5.2 Identification & Handling of Redundant Data**

- In this section **we will identify redundant rows and columns** in our data if present.

#### **5.2.1 Identfication & Handling of Redundant Rows**

**Before Handling Duplicate Rows**

In [81]:
print('Contains Redundant Records?:', data.duplicated().any())
print('Duplicate Count:', data.duplicated().sum())

Contains Redundant Records?: True
Duplicate Count: 29

**Observation:**

- We can see that **there are redundant records present** in the data

**Performing Operations**

In [82]:
before_shape = data.shape
print('Data Shape [Before]:', data.shape)

data.drop_duplicates(inplace = True)

after_shape = data.shape
print('Data Shape [After]:', after_shape)

drop_nums = before_shape[0] - after_shape[0]
drop_percent = np.round(drop_nums / before_shape[0], decimals = 6) * 100

print('Drop Ratio:', drop_percent, '%')

Data Shape [Before]: (14150, 13)
Data Shape [After]: (14121, 13)
Drop Ratio: 0.2049 %

**After Handling Duplicate Rows**

In [83]:
print('Contains Redundant Records?:', data.duplicated().any())
print('Duplicate Count:', data.duplicated().sum())

Contains Redundant Records?: False
Duplicate Count: 0